// Screens
// 1920
$screen-large: 1439px;
$screen-medium: 1280px;
$screen-tablet: 1024px;
$screen-small: 768px;
// $screen-xs: 480px;
// 320
// neutral
$color-neutral: white;

// addition
$color-active: #5585a2;
$color-text: #000000;
$color-text-description: #b9b9b9;


